#{extends 'main.html' /}
#{set title:'Přihlášení' /}

<h1>
    #{get 'title'/}
</h1>

#{include '_flash.html'/}

#{form @Secure.login(), method:'post', class:'forms'}

    <input type="hidden" name="authenticityToken" value="8eb36e0edfc9c298cee6d1756ea2a518b1ec58f8">


    <label for="username">Jméno:
        <input type="text" name="username" id="username" value="" />
    </label>

    <label for="password">Heslo:
        <input type="password" name="password" id="password" value="" />
    </label>

    <ul class="forms-inline-list">
        <li>
            <input type="checkbox" name="remember" id="remember" value="true"  />
            <label for="remember">Zapamatovat</label>
    </ul>

    <input type="submit" id="signin"  class="btn" value="Přihlásit" />

#{/form}
