#{extends 'main.html' /}
#{set title:'Přihlášení' /}


#{include '_flash.html'/}
<div class="units-row"><div class="unit-centered unit-40">
#{form @Secure.login(), method:'post', class:'forms'}

<fieldset>
    <legend>Přihlášení</legend>
    #{authenticityToken /}

    <label for="username">Jméno:
        <input type="text" name="username" id="username" value="" class="width-100" />
    </label>

    <label for="password">Heslo:
        <input type="password" name="password" id="password" value="" class="width-100" />
    </label>

    <ul class="forms-inline-list">
        <li>
            <input type="checkbox" name="remember" id="remember" value="true"  />
            <label for="remember">Zapamatovat</label>
    </ul>

    <input type="submit" id="signin"  class="btn" value="Přihlásit" />

</fieldset>
#{/form}
</div>
</div>