#{extends 'main.html' /}
#{ifnot clanek?.id}
#{set title:'Vytváření nového článku' /}
#{/ifnot}
#{else}
#{set title:'Editace článku ' + clanek.titulek  /}
#{/else}

<h1>
#{get 'title'/}
</h1>

#{form @ulozitClanek(clanek?.id), class:'forms'}

    #{ifErrors}
    <p class="error">
        Please correct these errors.
    </p>
    #{/ifErrors}

<p>
    #{field 'titulek'}
        <label>Název článku:
            <input type="text" name="${field.name}" value="${clanek?.titulek}" class='width-100'/>
            <span class="error">#{error 'clanek.titulek' /}</span>
        </label>
    #{/field}
</p>
<script type="text/javascript" src="@{'/public/javascripts/tinymce/tinymce.min.js'}"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    height: 400
 });
</script>
<p>
    #{field 'text'}
        <label>Text článku:
            <textarea name="${field.name}">
            ${clanek?.text}
            </textarea>
            <span class="error">#{error 'clanek.text' /}</span>
        </label>
    #{/field}
</p>

<p>
    #{field 'kategorieId'}
        <label>Kategorie:
            #{select name:'kategorieId', items:vsechnyKategorie, value:clanek?.kategorie?.id, class:'width-50'}#{/select}
        </label>
    #{/field}
</p>

<p>
    <input type="submit" class="btn" value="Publikovat" />
</p>

#{/form}