#{extends 'main.html' /}
#{set title:'Profil ' + uzivatel.celeJmeno /}

<h1>
    #{get 'title'/}
</h1>

#{include '_flash.html'/}

#{form @ulozitProfil(), class:'forms forms-columnar'}
<script type="text/javascript">
    $(document).ready(function() {

        $('#zmenitHeslo').change(function(){

            var dis =  ($('#zmenitHeslo').is(':checked') == false);
            $('#heslo').prop('disabled', dis);
            $('#noveHeslo').prop('disabled', dis);
            $('#noveHeslo2').prop('disabled', dis);
        });
    });
</script>

<fieldset>
    <legend>Úprava uživatelského profilu</legend>
    <p>
        #{field 'jmeno'}
            <label>Celé jméno:</label>
                <input type="text" name="${field.name}" id="${field.name}" value="${uzivatel?.celeJmeno}" class='width-100 #{ifError 'uzivatel.celeJmeno'}input-error#{/ifError}'/>
                #{ifError 'uzivatel.celeJmeno'}
                <span class="error">#{error 'uzivatel.celeJmeno' /}</span>
                #{/ifError}
        #{/field}
    </p>
    <p>
        #{field 'email'}
            <label>E-mail:</label>
                <input type="text" name="${field.name}" id="${field.name}" value="${uzivatel?.email}" class='width-100 #{ifError 'uzivatel.email'}input-error#{/ifError}'/>
                #{ifError 'uzivatel.email'}
                <span class="error">#{error 'uzivatel.email' /}</span>
                #{/ifError}
        #{/field}
    </p>

    <p>
        <input id="zmenitHeslo" name="zmenitHeslo" type="checkbox" #{if zmenitHeslo}checked="checked"#{/if}> <label>Změnit heslo</label></li>
    </p>

    <p>
        #{field 'heslo'}
            <label>Stávající heslo:</label>
            <input type="password" name="${field.name}" id="${field.name}" value="" class='width-100 #{ifError field.name}input-error#{/ifError}' #{ifnot zmenitHeslo}disabled#{/ifnot} />
            #{ifError field.name}
            <span class="error">Zadejte současné heslo</span>
            #{/ifError}
        #{/field}
    </p>

    <p>
        #{field 'noveHeslo'}
            <label>Nové heslo:</label>
                <input type="password" name="${field.name}" id="${field.name}" value="" class='width-100 #{ifError field.name}input-error#{/ifError}' #{ifnot zmenitHeslo}disabled#{/ifnot} />
                #{ifError field.name}
                <span class="error">#{error field.name /}</span>
                #{/ifError}
        #{/field}
    </p>

    <p>
        #{field 'noveHeslo2'}
            <label>Nové heslo znovu:</label>
                <input type="password" name="${field.name}" id="${field.name}" value="" class='width-100 #{ifError field.name}input-error#{/ifError}' #{ifnot zmenitHeslo}disabled#{/ifnot} />
                #{ifError field.name}
                <span class="error">#{error field.name /}</span>
                #{/ifError}
        #{/field}
    </p>

    <p>
        <input type="submit" class="btn" value="Uložit">
    </p>
</fieldset>
#{/form}