<div class="clanek ${_as == 'teaser' ? 'teaser' : ''}">
    <h1 class="post-title">
        <a href="@{Application.show(_clanek.id)}">${_clanek.titulek}</a>
    </h1>
    <div class="post-metadata">
        <span class="post-author">od ${_clanek.autor.celeJmeno}</span>,
        <span class="post-date">${_clanek.datumNapsani.format('dd. MMMM yyyy')}</span>
    #{if _as != 'full'}
        <span class="post-comments">
                &nbsp;|&nbsp; ${_clanek.komentare.size() == 0 ? 'Žádné komentáře' :
                _clanek.komentare.size() + ((_clanek.komentare.size() == 1)? ' komentář':
                ((_clanek.komentare.size() < 5)?' komentáře':' komentářů'))}

            #{if _clanek.komentare}
            , poslední od ${_clanek.komentare[-1].autor}
            #{/if}
            </span>
    #{/if}
    </div>
#{if _as != 'teaser'}
    <div class="post-content">
    ${_clanek.text.raw()}
    </div>
#{/if}
</div>

#{if _as == 'full'}
<div class="text-centered">
    <a href="@{Application.tisk(_clanek.id)}" class="btn btn-yellow">Tisk</a>
    <a href="@{Application.pdf(_clanek.id)}" class="btn btn-black">Export PDF</a>
    <a href="#" class="btn btn-blue">Twitter</a>
    <a href="#" class="btn btn-red">G+</a>

</div>

<ul class="pagination">
    #{if _predchozi}
        <li class="pagination-older"><a href="@{Application.show(_predchozi.id)}">&larr; ${_predchozi.titulek}</a></li>
    #{/if}
    #{if _nasledujici}
        <li class="pagination-newest pagination-pull"><a href="@{Application.show(_nasledujici.id)}">${_nasledujici.titulek} &rarr;</a></li>
    #{/if}
</ul>

<div class="comments">
    <h3>
    ${_clanek.komentare.size() == 0 ? 'Žádné komentáře' :
                _clanek.komentare.size() + ((_clanek.komentare.size() == 1)? ' komentář':
                ((_clanek.komentare.size() < 5)?' komentáře':' komentářů'))}
    </h3>

    #{list items:_clanek.komentare, as:'komentar'}
        <section class="caption group">
            <div class="question bubble">
                ${komentar.komentar.escape().nl2br()}
                <span class="arrow border"/>
                <span class="arrow fill"/>
            </div>
            <div class="asker group">
                    <span class="asker">napsal ${komentar.autor} dne ${komentar.datumPoslani.format('dd. MMMM yyyy')} v ${komentar.datumPoslani.format('hh.MM')} </span>
            </div>
        </section>
    #{/list}

</div>
#{/if}