<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>${clanek.titulek}</title>
    <style>
        body { font-family: "DejaVu Sans";}

        .post-title, .post-metadata {
            text-align: center;
        }

        .post-title {
            margin-top: 25px;
        }

        .post-metadata {
            margin-bottom: 40px;
        }

        p {
            line-height: 1.5;
            text-align: justify;
        }

        a {
            color: #000000;
        }
    </style>
</head>
<body>
#{clanek clanek:clanek, as:'tisk' /}
</body>
</html>

