#{extends 'main.html' /}
#{set title:clanek.titulek /}


#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{clanek clanek:clanek, as:'full', predchozi:predchozi, nasledujici:nasledujici /}

#{form @Application.pridatKomentar(clanek.id), class:'forms forms-columnar'}

    #{ifErrors}
        <p class="error">
             ${errors}
        </p>
    #{/ifErrors}
<p>
    <label for="autor">Jméno:</label>
    <input type="text" name="autor" id="autor" value="${params.autor}" class="width-60"/>
</p>
<p>
    <label for="komentar">Komentář: </label>
    <textarea name="komentar" id="komentar" class="width-100 height-100px">${params.komentar}</textarea>
</p>
<p>
    <label for="code">Kód z obrázku: </label>
        <span class="btn-group">
            <input type="text" name="code" id="code" size="18" value="" />
            <input type="hidden" name="randomID" value="${randomID}" />

            <img src="@{Application.captcha(randomID)}" />
        </span>
</p>
<p>
    <input type="submit" class="btn" value="Odeslat komentář" />
</p>
#{/form}