#{extends 'main.html' /}
#{set title:clanek.titulek /}


<ul id="pagination">
#{if clanek.predchozi()}
    <li id="previous">
        <a href="@{Application.show(clanek.predchozi().id)}">
        ${clanek.predchozi().titulek}
        </a>
    </li>
#{/if}
#{if clanek.nasledujici()}
    <li id="previous">
        <a href="@{Application.show(clanek.nasledujici().id)}">
        ${clanek.nasledujici().titulek}
        </a>
    </li>
#{/if}
</ul>

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

#{clanek clanek:clanek, as:'full' /}

#{form @Application.pridatKomentar(clanek.id)}

    #{ifErrors}
        <p class="error">
             ${errors}
        </p>
    #{/ifErrors}
<p>
    <label for="komentar">Your name: </label>
    <input type="text" name="autor" id="autor" value="${params.autor}"/>
</p>
<p>
    <label for="komentar">Your message: </label>
    <textarea name="komentar" id="komentar">${params.komentar}</textarea>
</p>
<p>
    <label for="code">Please type the code below: </label>
    <img src="@{Application.captcha(randomID)}" />
    <br />
    <input type="text" name="code" id="code" size="18" value="" />
    <input type="hidden" name="randomID" value="${randomID}" />
</p>
<p>
    <input type="submit" value="Submit your comment" />
</p>
#{/form}