<!DOCTYPE html >
<html>
<head>
    <title>#{get 'title' /} &raquo; ${blogNazev}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/kube.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/icons.css'}" />
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    <!--[if lt IE 9]>
        <script>
            var head = document.getElementsByTagName('head')[0], style = document.createElement('style');
            style.type = 'text/css';
            style.styleSheet.cssText = ':before,:after{content:none !important';
            head.appendChild(style);
            setTimeout(function(){ head.removeChild(style); }, 0);
        </script>
    <![endif]-->
</head>
<body>
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/kube.buttons.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/kube.tabs.js'}"></script>
<div class="units-row">
    <div class="unit-centered unit-70" id="content">
        <div class="unit-75">
            <div id="header">
                <div id="title">
                    <hgroup>
                        <h1 class="header"><a href="@{Application.index()}">${blogNazev}</a></h1>
                        <h1 class="subheader">${blogPodtitulek}</h1>
                    </hgroup>
                </div>
            </div>
        </div>
        <div>
        #{form @Application.hledat(), class:'forms',id:'hledani'}

            <label>
		            <span class="btn-group">
			            <input name="hledat" type="text" size="20" placeholder="Vyhledat&hellip;">
			            <button class="btn"><i class="fa fa-search"></i></button>
		            </span>
            </label>
        #{/form}
        </div>

        <div class="units-row-end">
            <div class="unit-80" id="main">
            #{doLayout /}
            </div>

            <div class="unit-20">
                <nav class="nav-v">
                    <ul>
                        <li><a href="@{Application.index()}">Úvodní stránka</a></li>
                        #{list items:vsechnyKategorie, as:'kat'}
                        <li><a href="@{Application.kategorie(kat.url)}">${kat}</a></li>
                        #{/list}

                        #{ifnot uzivatel}
                        <li><a href="@{Secure.login()}">Přihlásit se</a></li>
                        #{/ifnot}
                        #{else }
                        <li><a href="@{Admin.index()}" title="${uzivatel.celeJmeno}">Administrace</a></li>
                            <li>
                                <ul>
                                    <li><a href="@{Admin.clanky()}">Články</a></li>
                                    <li><a href="@{Admin.komentare()}">Komentáře</a></li>
                                    <li><a href="@{Admin.kategorie()}">Kategorie</a></li>
                                    <li><a href="@{Admin.profil()}">Profil</a></li>
                                </ul>
                            </li>
                            <li><a href="@{Secure.logout()}">Odhlásit se</a></li>
                        #{/else}
                        <li><a href="@{Application.kontakt()}">Napsat mi</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="units-row-end text-centered">
            <p id="footer">
                <span class="cara-450px"></span>
                Blogovací systém je naprogramován s pomocí
                <a href="http://www.playframework.org">Play frameworku</a>.<br>
                Jan Šlahora 2013
            </p>
        </div>
    </div>
</div>
</body>
</html>